In [1]:
#!pip install resaspy

In [1]:
from resaspy import Resaspy
from pandas.io.json import json_normalize

# Resaspy Documentation: https://github.com/ar90n/resaspy

### RESAS API Overview: https://opendata.resas-portal.go.jp/docs/api/v1/index.html

!ls

In [2]:
f = open("apikey.txt", "r")
api_key = f.read()
f.close()

In [3]:
resas_key = api_key
res = Resaspy(resas_key)
res.prefectures()

{'message': None,
 'result': [{'prefCode': 1, 'prefName': '北海道'},
  {'prefCode': 2, 'prefName': '青森県'},
  {'prefCode': 3, 'prefName': '岩手県'},
  {'prefCode': 4, 'prefName': '宮城県'},
  {'prefCode': 5, 'prefName': '秋田県'},
  {'prefCode': 6, 'prefName': '山形県'},
  {'prefCode': 7, 'prefName': '福島県'},
  {'prefCode': 8, 'prefName': '茨城県'},
  {'prefCode': 9, 'prefName': '栃木県'},
  {'prefCode': 10, 'prefName': '群馬県'},
  {'prefCode': 11, 'prefName': '埼玉県'},
  {'prefCode': 12, 'prefName': '千葉県'},
  {'prefCode': 13, 'prefName': '東京都'},
  {'prefCode': 14, 'prefName': '神奈川県'},
  {'prefCode': 15, 'prefName': '新潟県'},
  {'prefCode': 16, 'prefName': '富山県'},
  {'prefCode': 17, 'prefName': '石川県'},
  {'prefCode': 18, 'prefName': '福井県'},
  {'prefCode': 19, 'prefName': '山梨県'},
  {'prefCode': 20, 'prefName': '長野県'},
  {'prefCode': 21, 'prefName': '岐阜県'},
  {'prefCode': 22, 'prefName': '静岡県'},
  {'prefCode': 23, 'prefName': '愛知県'},
  {'prefCode': 24, 'prefName': '三重県'},
  {'prefCode': 25, 'prefName': '滋賀県'},
  {'prefCode': 26, 'prefName': '京都府'},
  {'prefCode': 27, 'prefName': '大阪府'},
  {'prefCode': 28, 'prefName': '兵庫県'},
  {'prefCode': 29, 'prefName': '奈良県'},
  {'prefCode': 30, 'prefName': '和歌山県'},
  {'prefCode': 31, 'prefName': '鳥取県'},
  {'prefCode': 32, 'prefName': '島根県'},
  {'prefCode': 33, 'prefName': '岡山県'},
  {'prefCode': 34, 'prefName': '広島県'},
  {'prefCode': 35, 'prefName': '山口県'},
  {'prefCode': 36, 'prefName': '徳島県'},
  {'prefCode': 37, 'prefName': '香川県'},
  {'prefCode': 38, 'prefName': '愛媛県'},
  {'prefCode': 39, 'prefName': '高知県'},
  {'prefCode': 40, 'prefName': '福岡県'},
  {'prefCode': 41, 'prefName': '佐賀県'},
  {'prefCode': 42, 'prefName': '長崎県'},
  {'prefCode': 43, 'prefName': '熊本県'},
  {'prefCode': 44, 'prefName': '大分県'},
  {'prefCode': 45, 'prefName': '宮崎県'},
  {'prefCode': 46, 'prefName': '鹿児島県'},
  {'prefCode': 47, 'prefName': '沖縄県'}]}

In [12]:
res.cities(13)["result"][0]["cityCode"]

'13101'

In [15]:
cities = res.cities(13)["result"]

In [16]:
city_codes = []
for city in cities:
    city_codes.append(city["cityCode"])

In [18]:
city_codes

['13101',
 '13102',
 '13103',
 '13104',
 '13105',
 '13106',
 '13107',
 '13108',
 '13109',
 '13110',
 '13111',
 '13112',
 '13113',
 '13114',
 '13115',
 '13116',
 '13117',
 '13118',
 '13119',
 '13120',
 '13121',
 '13122',
 '13123',
 '13201',
 '13202',
 '13203',
 '13204',
 '13205',
 '13206',
 '13207',
 '13208',
 '13209',
 '13210',
 '13211',
 '13212',
 '13213',
 '13214',
 '13215',
 '13218',
 '13219',
 '13220',
 '13221',
 '13222',
 '13223',
 '13224',
 '13225',
 '13227',
 '13228',
 '13229',
 '13303',
 '13305',
 '13307',
 '13308',
 '13361',
 '13362',
 '13363',
 '13364',
 '13381',
 '13382',
 '13401',
 '13402',
 '13421']

In [5]:
res.tourism.attractions(1, '01471')

{'message': None,
 'result': {'data': [{'lat': 44.593422,
    'lng': 142.094085,
    'resourceCode': 216,
    'resourceName': '天塩川'}]}}

In [6]:
t = res.tourism

In [16]:
t.Foreigners.mro()

[resaspy.tourism.Tourism.Foreigners, resaspy.context.Context, object]

In [7]:
f = t.foreigners

In [8]:
jsn = f.for_from(2016, 15, 1)["result"]["changes"]
jsn

[{'countryCode': '103',
  'countryName': '大韓民国',
  'data': [{'year': 2015, 'quarter': 1, 'value': 2923},
   {'year': 2015, 'quarter': 2, 'value': 3490},
   {'year': 2015, 'quarter': 3, 'value': 5517},
   {'year': 2015, 'quarter': 4, 'value': 2351},
   {'year': 2016, 'quarter': 1, 'value': 3477},
   {'year': 2016, 'quarter': 2, 'value': 2273},
   {'year': 2016, 'quarter': 3, 'value': 5412},
   {'year': 2016, 'quarter': 4, 'value': 5563}]},
 {'countryCode': '105',
  'countryName': '中華人民共和国',
  'data': [{'year': 2015, 'quarter': 1, 'value': 12650},
   {'year': 2015, 'quarter': 2, 'value': 12233},
   {'year': 2015, 'quarter': 3, 'value': 17220},
   {'year': 2015, 'quarter': 4, 'value': 7523},
   {'year': 2016, 'quarter': 1, 'value': 11508},
   {'year': 2016, 'quarter': 2, 'value': 19566},
   {'year': 2016, 'quarter': 3, 'value': 14899},
   {'year': 2016, 'quarter': 4, 'value': 7996}]},
 {'countryCode': '106',
  'countryName': '台湾',
  'data': [{'year': 2015, 'quarter': 1, 'value': 16020},
   {'year': 2015, 'quarter': 2, 'value': 1934},
   {'year': 2015, 'quarter': 3, 'value': 3634},
   {'year': 2015, 'quarter': 4, 'value': 3406},
   {'year': 2016, 'quarter': 1, 'value': 13995},
   {'year': 2016, 'quarter': 2, 'value': 7481},
   {'year': 2016, 'quarter': 3, 'value': 1010},
   {'year': 2016, 'quarter': 4, 'value': 867}]},
 {'countryCode': '108',
  'countryName': '香港',
  'data': [{'year': 2015, 'quarter': 1, 'value': 2329},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 1662},
   {'year': 2016, 'quarter': 1, 'value': 0},
   {'year': 2016, 'quarter': 2, 'value': 0},
   {'year': 2016, 'quarter': 3, 'value': 0},
   {'year': 2016, 'quarter': 4, 'value': 1938}]},
 {'countryCode': '110',
  'countryName': 'ベトナム',
  'data': [{'year': 2015, 'quarter': 1, 'value': 0},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 813},
   {'year': 2015, 'quarter': 4, 'value': 0},
   {'year': 2016, 'quarter': 1, 'value': 1049},
   {'year': 2016, 'quarter': 2, 'value': 0},
   {'year': 2016, 'quarter': 3, 'value': 949},
   {'year': 2016, 'quarter': 4, 'value': 998}]},
 {'countryCode': '111',
  'countryName': 'タイ',
  'data': [{'year': 2015, 'quarter': 1, 'value': 1743},
   {'year': 2015, 'quarter': 2, 'value': 3599},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 0},
   {'year': 2016, 'quarter': 1, 'value': 0},
   {'year': 2016, 'quarter': 2, 'value': 1256},
   {'year': 2016, 'quarter': 3, 'value': 666},
   {'year': 2016, 'quarter': 4, 'value': 1285}]},
 {'countryCode': '112',
  'countryName': 'シンガポール',
  'data': [{'year': 2015, 'quarter': 1, 'value': 0},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 0},
   {'year': 2016, 'quarter': 1, 'value': 3109},
   {'year': 2016, 'quarter': 2, 'value': 963},
   {'year': 2016, 'quarter': 3, 'value': 0},
   {'year': 2016, 'quarter': 4, 'value': 3011}]},
 {'countryCode': '113',
  'countryName': 'マレーシア',
  'data': [{'year': 2015, 'quarter': 1, 'value': 1230},
   {'year': 2015, 'quarter': 2, 'value': 603},
   {'year': 2015, 'quarter': 3, 'value': 441},
   {'year': 2015, 'quarter': 4, 'value': 1424},
   {'year': 2016, 'quarter': 1, 'value': 361},
   {'year': 2016, 'quarter': 2, 'value': 2663},
   {'year': 2016, 'quarter': 3, 'value': 806},
   {'year': 2016, 'quarter': 4, 'value': 578}]},
 {'countryCode': '117',
  'countryName': 'フィリピン',
  'data': [{'year': 2015, 'quarter': 1, 'value': 1154},
   {'year': 2015, 'quarter': 2, 'value': 875},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 443},
   {'year': 2016, 'quarter': 1, 'value': 827},
   {'year': 2016, 'quarter': 2, 'value': 1126},
   {'year': 2016, 'quarter': 3, 'value': 0},
   {'year': 2016, 'quarter': 4, 'value': 0}]},
 {'countryCode': '118',
  'countryName': 'インドネシア',
  'data': [{'year': 2015, 'quarter': 1, 'value': 700},
   {'year': 2015, 'quarter': 2, 'value': 742},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 788},
   {'year': 2016, 'quarter': 1, 'value': 3904},
   {'year': 2016, 'quarter': 2, 'value': 467},
   {'year': 2016, 'quarter': 3, 'value': 1461},
   {'year': 2016, 'quarter': 4, 'value': 0}]},
 {'countryCode': '123',
  'countryName': 'インド',
  'data': [{'year': 2015, 'quarter': 1, 'value': 123},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 0},
   {'year': 2016, 'quarter': 1, 'value': 593},
   {'year': 2016, 'quarter': 2, 'value': 427},
   {'year': 2016, 'quarter': 3, 'value': 0},
   {'year': 2016, 'quarter': 4, 'value': 0}]},
 {'countryCode': '205',
  'countryName': '英国',
  'data': [{'year': 2015, 'quarter': 1, 'value': 1012},
   {'year': 2015, 'quarter': 2, 'value': 750},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 428},
   {'year': 2016, 'quarter': 1, 'value': 878},
   {'year': 2016, 'quarter': 2, 'value': 917},
   {'year': 2016, 'quarter': 3, 'value': 0},
   {'year': 2016, 'quarter': 4, 'value': 477}]},
 {'countryCode': '210',
  'countryName': 'フランス',
  'data': [{'year': 2015, 'quarter': 1, 'value': 0},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 415},
   {'year': 2016, 'quarter': 1, 'value': 1422},
   {'year': 2016, 'quarter': 2, 'value': 0},
   {'year': 2016, 'quarter': 3, 'value': 0},
   {'year': 2016, 'quarter': 4, 'value': 0}]},
 {'countryCode': '213',
  'countryName': 'ドイツ',
  'data': [{'year': 2015, 'quarter': 1, 'value': 283},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 0},
   {'year': 2015, 'quarter': 4, 'value': 767},
   {'year': 2016, 'quarter': 1, 'value': 719},
   {'year': 2016, 'quarter': 2, 'value': 0},
   {'year': 2016, 'quarter': 3, 'value': 389},
   {'year': 2016, 'quarter': 4, 'value': 803}]},
 {'countryCode': '218',
  'countryName': 'スペイン',
  'data': [{'year': 2015, 'quarter': 1, 'value': 140},
   {'year': 2015, 'quarter': 2, 'value': 141},
   {'year': 2015, 'quarter': 3, 'value': 638},
   {'year': 2015, 'quarter': 4, 'value': 0},
   {'year': 2016, 'quarter': 1, 'value': 0},
   {'year': 2016, 'quarter': 2, 'value': 0},
   {'year': 2016, 'quarter': 3, 'value': 0},
   {'year': 2016, 'quarter': 4, 'value': 264}]},
 {'countryCode': '220',
  'countryName': 'イタリア',
  'data': [{'year': 2015, 'quarter': 1, 'value': 95},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 363},
   {'year': 2015, 'quarter': 4, 'value': 0},
   {'year': 2016, 'quarter': 1, 'value': 0},
   {'year': 2016, 'quarter': 2, 'value': 146},
   {'year': 2016, 'quarter': 3, 'value': 197},
   {'year': 2016, 'quarter': 4, 'value': 160}]},
 {'countryCode': '224',
  'countryName': 'ロシア',
  'data': [{'year': 2015, 'quarter': 1, 'value': 1290},
   {'year': 2015, 'quarter': 2, 'value': 320},
   {'year': 2015, 'quarter': 3, 'value': 808},
   {'year': 2015, 'quarter': 4, 'value': 232},
   {'year': 2016, 'quarter': 1, 'value': 504},
   {'year': 2016, 'quarter': 2, 'value': 519},
   {'year': 2016, 'quarter': 3, 'value': 219},
   {'year': 2016, 'quarter': 4, 'value': 651}]},
 {'countryCode': '302',
  'countryName': 'カナダ',
  'data': [{'year': 2015, 'quarter': 1, 'value': 1049},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 356},
   {'year': 2015, 'quarter': 4, 'value': 0},
   {'year': 2016, 'quarter': 1, 'value': 797},
   {'year': 2016, 'quarter': 2, 'value': 403},
   {'year': 2016, 'quarter': 3, 'value': 0},
   {'year': 2016, 'quarter': 4, 'value': 0}]},
 {'countryCode': '304',
  'countryName': 'アメリカ合衆国',
  'data': [{'year': 2015, 'quarter': 1, 'value': 2344},
   {'year': 2015, 'quarter': 2, 'value': 1958},
   {'year': 2015, 'quarter': 3, 'value': 2350},
   {'year': 2015, 'quarter': 4, 'value': 735},
   {'year': 2016, 'quarter': 1, 'value': 2470},
   {'year': 2016, 'quarter': 2, 'value': 4263},
   {'year': 2016, 'quarter': 3, 'value': 2041},
   {'year': 2016, 'quarter': 4, 'value': 1320}]},
 {'countryCode': '601',
  'countryName': 'オーストラリア',
  'data': [{'year': 2015, 'quarter': 1, 'value': 6496},
   {'year': 2015, 'quarter': 2, 'value': 0},
   {'year': 2015, 'quarter': 3, 'value': 1705},
   {'year': 2015, 'quarter': 4, 'value': 1198},
   {'year': 2016, 'quarter': 1, 'value': 4900},
   {'year': 2016, 'quarter': 2, 'value': 0},
   {'year': 2016, 'quarter': 3, 'value': 474},
   {'year': 2016, 'quarter': 4, 'value': 658}]}]

In [9]:
json_normalize(jsn, "data", ["countryCode", "countryName"])

     quarter  value  year countryCode countryName
0          1   2923  2015         103        大韓民国
1          2   3490  2015         103        大韓民国
2          3   5517  2015         103        大韓民国
3          4   2351  2015         103        大韓民国
4          1   3477  2016         103        大韓民国
5          2   2273  2016         103        大韓民国
6          3   5412  2016         103        大韓民国
7          4   5563  2016         103        大韓民国
8          1  12650  2015         105     中華人民共和国
9          2  12233  2015         105     中華人民共和国
10         3  17220  2015         105     中華人民共和国
11         4   7523  2015         105     中華人民共和国
12         1  11508  2016         105     中華人民共和国
13         2  19566  2016         105     中華人民共和国
14         3  14899  2016         105     中華人民共和国
15         4   7996  2016         105     中華人民共和国
16         1  16020  2015         106          台湾
17         2   1934  2015         106          台湾
18         3   3634  2015         106          台湾
19         4   3406  2015         106          台湾
20         1  13995  2016         106          台湾
21         2   7481  2016         106          台湾
22         3   1010  2016         106          台湾
23         4    867  2016         106          台湾
24         1   2329  2015         108          香港
25         2      0  2015         108          香港
26         3      0  2015         108          香港
27         4   1662  2015         108          香港
28         1      0  2016         108          香港
29         2      0  2016         108          香港
..       ...    ...   ...         ...         ...
130        3    808  2015         224         ロシア
131        4    232  2015         224         ロシア
132        1    504  2016         224         ロシア
133        2    519  2016         224         ロシア
134        3    219  2016         224         ロシア
135        4    651  2016         224         ロシア
136        1   1049  2015         302         カナダ
137        2      0  2015         302         カナダ
138        3    356  2015         302         カナダ
139        4      0  2015         302         カナダ
140        1    797  2016         302         カナダ
141        2    403  2016         302         カナダ
142        3      0  2016         302         カナダ
143        4      0  2016         302         カナダ
144        1   2344  2015         304     アメリカ合衆国
145        2   1958  2015         304     アメリカ合衆国
146        3   2350  2015         304     アメリカ合衆国
147        4    735  2015         304     アメリカ合衆国
148        1   2470  2016         304     アメリカ合衆国
149        2   4263  2016         304     アメリカ合衆国
150        3   2041  2016         304     アメリカ合衆国
151        4   1320  2016         304     アメリカ合衆国
152        1   6496  2015         601     オーストラリア
153        2      0  2015         601     オーストラリア
154        3   1705  2015         601     オーストラリア
155        4   1198  2015         601     オーストラリア
156        1   4900  2016         601     オーストラリア
157        2      0  2016         601     オーストラリア
158        3    474  2016         601     オーストラリア
159        4    658  2016         601     オーストラリア

[160 rows x 5 columns]